html,body {
	width:100%;
	height:140%;
	background-color:white;
	margin:0;
}
nav{
	width: 97%;
	height: 0.5%;	
}
aside{
	width: 100%;
	height: 38%;
	top:1.5%;
	overflow:hidden;
}

section{
	width: 100%;
	height: 110%;
	background-color:white;
	margin:auto;
	margin-top:0.5%;
}

article{
	width: 100%;
	height: 20%;
	margin-top:0.5%;
	font-size:200%;


}
.text{
	width: 50%;
	height: 30%;
	background-color:white;
	float:left;
	margin-bottom:3%;
}

.img{
	width: 40%;
	height: 30%;
	background-color:red;
	float:left;
	margin-left:5%;
	margin-bottom:3%;
	overflow:hidden;
}
.center{
	width: 112%;
	height: 105%;
}
.img2{
	width: 40%;
	height: 30%;
	background-color:red;
	float:left;
	margin-bottom:3%;
	overflow:hidden;
}
.text2{
	width: 50%;
	height: 30%;
	background-color:white;
	float:left;
	margin-bottom:3%;
	margin-left:5%;
}
.tab{
	width: 100%;
	height: 8%;
	background-color:white;
	padding-left:20%;
}
.specs{
	width: 20%;
	height: 100%;
	background-color:#3e3e3e;
	float:left;
	margin-right:0.2%;
	color:white;
	font-family:Audi;
	font-size:100%;
}
.nombre{
	margin-left:20%;
}
.especificacion{
	margin-left:20%;
	margin-top:-10%;
}
	

.image{
	width: 100%;
	height: 30%;
	background-color:white;
}
footer{
	width: 100%;
	height: 12%;
	background-color:#f2f2f2;
	margin:auto;	
	margin-top:15%;
}
.enlaces{
	float:left;
	margin-top:0.2%;
	margin-left:1%;
	width: 2%;
	height: 100%;
}
.redes{
	width: 100%;
	height: 22%;
	background-color:#f2f2f2;
	margin:auto;
}
.foot{
	width: 100%;
	height: 100%;
	
}
.textoredes{
	float:left;
	margin-top:0.2%;
	margin-left:1%;
	width: 50%;
	height: 100%;
}

.principal{
	width: 90%;
	height: 500%;
	margin:auto;
	margin-left:5%;
}
.iconosredes{
	width:3%;
	height:90%;
	margin-left:1%;
	margin-top:0.3%;
}
.tabla{
	width:100%;
	height:90%;
	margin:auto;
}
/*-----------------------------------------------------------menu---------------------------------------------------*/
.logomenu{
	height: 40%;
	margin-top:-7%;		
}
.logop{
	width:12%;
	margin-top:-1%;	
}
.marcada{
	height: 40%;
	margin-top:-12%;	
	
}
.derecha{
	width:12%;
	margin-top:;	
	float:left;
	margin-left:20%
}
.derecha{
	width:15%;
}
.logoinicio{
	width: 80%;
	height: 80%;
	margin-bottom:-15%;	
	margin-left:10%;	
}

li{
	list-style:none;
}
.nav {
	width:100%;
	height:100%;
	background-color:white;
}			
.nav > li {
	float:left;
	width:8%;
	background-color:white;
	font-size:150%;
	color:grey;
	padding:0%;
	vertical-align:top;
}
/* enlaces*/
.nav li a {
	background-color:#000;
	color:grey;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	background-color:white;
}

.nav li a:hover {
	background-color:white;
	z-index:1;
}

.nav li ul {
	position:absolute;
	z-index:-100;
	width:8%;
}

.nav li:hover > ul {
	display:block;
	margin-left:-2%;
	z-index:100;
}

/* --------------------------------------------------------------slider---------------------------------------------------------- */
.slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width:300%;
	height:100%;
	animation: cambio 20s infinite alternate;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	position:relative;
	margin-top:-12%;
	width: 100%;
	height: 140%;
	
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	

}

@font-face {
font-family:Audi;
src: url(Audi.ttf);
}


























